{% load static %}
 <style>
    .left {
      background: lightskyblue;
    }
  </style>
<header>
    <div class="left">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <div class="row">
    <div class="col-md-4" ><img src="{% static 'img/logo.png' %}" height="30" alt=""></div>
    <div class="col-md-4"><h5>Блогикум</h5></div>
        {% with request.resolver_match.view_name as view_name %}
        <div class="col-md-4">
            <ul class="nav nav-pills">
          <li class="nav-item">
            <a
              class="nav-link {% if view_name == 'blog:index' %} active {% endif %}"
              href="{% url 'blog:index' %}"
              >
              Лента записей
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if view_name == 'pages:about' %} active {% endif %}"
              href="{% url 'pages:about' %}"
              >
              О проекте
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if view_name == 'pages:rules' %} active {% endif %}"
              href="{% url 'pages:rules' %}"
            >
              Наши правила
            </a>
          </li>
        </ul>
        {% endwith %}
            </div>
        </div>
    </div>
    </header>