<style>
  ul {
  margin-left: 120px;
  }
  p {
  margin-left: 120px;
  }
  h1 {
  margin-left: 120px;
  padding-top: 100px;
  a {
  margin-right: 120px;
  }
</style>

{% extends 'base.html' %}
<head>
  <title>
    {% block title %}Лента записей{% endblock %}
  </title>
</head>
{% block content %}
<h1>Лента записей</h1>
<hr>
{% for post in posts reversed%}
    <ul>
      <li>Место: {{ post.location }}</li>
      <li>Дата: {{ post.date }}</li>
      <li>Категория: <a class="mt-3 regular-link" href="{% url 'blog:category_posts' post.category %}"> {{ post.category }} </a></li>
    </ul>
      <p>{{ post.text|truncatewords:10 }}</p>
    <p><a class="mt-3 regular-link" href="{% url 'blog:post_detail' post.id %}">Читать полный текст </a></p>
{% if not forloop.last %}
    <hr>
    {% endif %}
   {% endfor %}
  {% endblock %}
